.business-management-page {
    display: flex;
    flex-direction: row;
    position: relative;
}

.business-content {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    padding: 40px;
}

.trash-button {
    position: absolute;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    padding: 5px;
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
}

.trash-button:hover {
    background-color: var(--background-color);
}

.service-container, .employee-container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 140px);
}
