.business-data-form {
    display: flex;
    flex-direction: column;
    padding: 15px;
    width: 100%;
    background: #fff;
    border: 1px solid var(--border-color);
    border-radius: var(--border-radius-sm);
    box-shadow: var(--box-shadow-medium);
}

.business-data-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 15px;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.full-width {
    grid-column: span 2;
}

.business-data-form-button {
    display: flex;
    align-items: center;
    justify-content: end;
    margin-top: 10px;
}