.side-panel {
    position: fixed;
    top: 60px;
    right: 0;
    width: 400px;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-left: 1px solid var(--border-color);
    box-shadow: var(--box-shadow-medium);
    transition: transform 0.2s ease;
    z-index: 1000;
    box-sizing: border-box;
}

.side-panel.hidden {
    transform: translateX(100%);
}

.side-panel.visible {
    transform: translateX(0);
}

.panel-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-sm) var(--spacing-md);
    border-bottom: 1px solid var(--border-color);
    color: #000;
    font-size: 16px;
    font-weight: var(--font-weight-semi-bolt);
}

.panel-content {
    display: flex;
    flex-direction: column;
    padding: var(--spacing-md);
    height: 100%;
}

.side-panel .close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    background: none;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    color: var(--text-color);
    cursor: pointer;
}

.close-button:hover {
    background-color: var(--background-color);
}
