.header {
    width: 100%;
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    background: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

.logo {
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 24px;
}

    .logo a {
        text-decoration: none;
        color: #3F72AF;
        font-weight: 600;
    }

.logo-left {
    color: #112D4E;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content {
    display: flex;
    min-width: 200px;
    padding: 0 20px;
    box-sizing: border-box;
    justify-content: center;
}

    .content a {
        text-decoration: none;
        color: rgba(0,0,0,.8);
        font-size: 14px;
        font-weight: 600;
    }