.login-form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    padding: var(--spacing-lg);
    background-color: #fff;
    border-radius: var(--border-radius-base);
    box-shadow: var(--box-shadow-medium);
}

.login-form-container h2 {
    margin-bottom: var(--spacing-lg);
}

.login-form-container a {
    font-size: var(--font-size-sm);
}

.login-form-container p {
    margin: 0;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--spacing-md);
    width: 100%;
}

.login-form button {
    height: 52px;
    width: 100%;
    font-family: var(--font-family-base);
}