.add-employee-button {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 15px;
    width: 100%;
    background-color: #fff;
    border-radius: var(--border-radius-sm);
    border: 1px solid var(--border-color);
    box-shadow: var(--box-shadow-medium);
    color: var(--text-color);
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-semi-bolt);
    cursor: pointer;
    margin-top: auto;
}

.add-employee-button svg {
    height: 24px;
    width: 24px;
}

.add-employee-button:hover {
    color: var(--primary-color);
    background-color: aliceblue;
}