.date-picker {
    width: 100%;
    border-radius: 8px;
    background-color: #fff;
    
}

.date-picker-header {
    text-align: left;
    margin-bottom: 10px;
}

.month-select {
    text-align: left;
    margin-bottom: 20px;
}

.month-select select {
    font-family: var(--font-family-base);
    font-size: var(--font-size-base);
    font-weight: var(--font-weight-semi-bolt);
    color: var(--text-color);
    background: none;
    border: none;
    cursor: pointer;
}

.month-select option {
    font-weight: var(--font-weight-regular);
}


.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 5px;
}

.week-days, .calendar-days {
    display: contents;
}

.week-day {
    font-weight: var(--font-weight-semi-bolt);
    text-align: center;
}

.day {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    background-color: none;
}

.day.selected {
    background-color: var(--primary-color);
    color:#fff;
}

.day.today {
    border: 1px solid var(--primary-color);
}

.day.past {
    color: rgba(0, 0, 0, 0.25);
}

.day:hover {
    border: 1px solid var(--primary-color);
}

.empty-day {
    visibility: hidden;
}
