:root {

    --primary-color: #3F72AF;;
    --secondary-color: #f9fafb;
    --background-color: #fafafa;
    --text-color: rgba(0, 0, 0, .70);
    --border-color: #eaeaea;
  

    --font-family-base: 'Manrope', sans-serif;
    --font-size-base: 16px;
    --font-size-lg: 18px;
    --font-size-sm: 14px;
    --font-weight-light: 300;
    --font-weight-regular: 400;
    --font-weight-medium: 500;
    --font-weight-semi-bolt: 600;
    --font-weight-bolt: 700;
  

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;
  

    --border-radius-base: 8px;
    --border-radius-lg: 16px;
    --border-radius-sm: 4px;
    --box-shadow-strong: rgba(0, 0, 0, .1) 0 3px 6px 0, rgba(0, 0, 0, .1) 0 0 10px 0, rgba(0, 0, 0, .1) 0 1px 4px -1px;
    --box-shadow-medium: rgba(0, 0, 0, .05) 0 5px 30px, rgba(0, 0, 0, .05) 0 1px 4px;
    --transition-duration: 0.2s;
  }
  
  